.wrapper {
    margin: 8px;
    padding: 1rem;
    border: 2px solid white;
    border-radius: 8px; 
}

.actionWrapper {
    margin: 8px;
    padding: 0.35rem;
    display: flex;
    justify-content: center;
    background: white;
    color: black; 
    border-radius: 16px;
}

.actionWrapper:hover {
    background: #E20074;
    color: white; 
    text-decoration: underline;
}

.infoMessage {
    margin: 36px;
    user-select: none; 
}

.actionBox {
    margin: 4px;
}

.actionLabel {
    user-select: none; 
}

.actionLabel:hover {
}