.wrapper {
    margin: 8px;
    padding: 1rem;
    border: 2px solid white;
   border-radius: 8px; 
}

.actionWrapper {
    margin: 8px;
    padding: 2px;
    display: flex;
    justify-content: center;
    border: 2px solid gray;
    border-radius: 16px;
}

.actionWrapper:hover {
    border: 2px solid #E20074;
    text-decoration: underline;
}

.infoMessage {
    margin: 36px;
}

.actionBox {
    margin: 4px;
}

.actionLabel {
}

.actionLabel:hover {
}