.noselect { user-select: none; }

.timerToggle {
    position: fixed;
    bottom:   16px;
    right:    16px;
    color: white;
    font-size: 24px;
    background: none;
    border: none;
}

.timerToggle:hover {
    color: #E20074;
}

.timerToggle:focus {
    outline: none;
}

.timeDigits {
    position: fixed;
    bottom:   16px;
    right:    48px;
    font-weight: 800;
    color: white;
    font-size: 24px;
    border-radius: 50%;
}

@keyframes bulgeAnimation {
    0% {
      font-size: 24px;
    }
    50% {
      font-size: 128px;
    }
    100% {
      font-size: 24px;
    }
  }
  
  .intervalAlert {
    animation: bulgeAnimation 1s ease-in-out;
    color: #E20074;
  }
  